<form>
    <div>
        <div class="submit-form col-md-12 pt-3">
            <div *ngIf="!submitted">
                <div class="col-md-12 container-cards p-3">
                    <div class="row">
                        <div class="form-group col">
                            <label for="title">Titre</label>
                            <input type="text" class="form-control" id="title" required [(ngModel)]="anime.title" name="title" ngModel required />
                        </div>
                        <div class="form-group col">
                            <label for="rating">Évaluation</label>
                            <input class="form-control" id="rating" required [(ngModel)]="anime.rating" name="rating" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input class="form-control" id="genre" required [(ngModel)]="anime.genre" name="genre" />
                    </div>

                    <div class="form-group">
                        <label for="synopsis">Synopsis</label>
                        <textarea class="form-control" id="synopsis" required [(ngModel)]="anime.synopsis" name="synopsis" rows="3"></textarea>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="aired">Date du premier épisode</label>
                            <input class="form-control" id="aired" required [(ngModel)]="anime.aired" name="aired" />
                        </div>

                        <div class="form-group col">
                            <label for="ended">Date du dernier épisode</label>
                            <input class="form-control" id="ended" required [(ngModel)]="anime.ended" name="ended" />
                        </div>
                    </div>
                    <button (click)="saveAnime()" class="btn btn-success">Submit</button>
                </div>
            </div>

            <div *ngIf="submitted">
                <h4 class="alert alert-success" role="alert">L'anime a été ajouter avec succès !</h4>
                <button class="btn btn-success" (click)="newAnime()">Ajouter</button>
            </div>
        </div>
    </div>
</form>