a {
    text-decoration: none;
}

.search-bar {
    width: 100%;
    padding: 15px 0;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.panel-s4i {
    border-color: rgba(15, 15, 15, .25);
    background-color: rgba(0, 0, 0, .76);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    *overflow: hidden;
    background: rgba(0, 0, 0, .76) url(../../../assets/dark_mosaic.png) repeat;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.inside_liste {
    position: relative;
    height: 165px;
}

.text-left {
    text-align: left;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.td_affiche_liste {
    position: relative;
    overflow: hidden;
}

td,
th {
    padding: 0;
}

.affiche_liste {
    height: 165px;
    width: 110px;
    border-radius: 3px 0 0 3px;
}

img {
    vertical-align: middle;
    border: 0;
}

.liste-content {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    color: #fff;
}

.input-group-append .btn,
.input-group-prepend .btn {
    background-color: #0A3D62;
}

@media (min-width: 1200px) and (max-width: 1290px) {
    .liste-content {
        padding-top: 10px;
    }
}

@media (min-width: 768px) {
    .liste-content {
        padding: 20px 10px 10px;
        vertical-align: top;
        text-align: left;
        color: #fff;
    }
    .search-bar {
        width: 48%;
    }
}

@media (max-width: 350px) {
    .liste-content {
        &--date {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .col-lg-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}
