<div class="list row pt-3">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Rercherche par titre" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bk-color" type="button" (click)="searchTitle()">
          <i class="fas fa-search"></i>
        </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Animes List</h4>
        <ul class="list-group">
            <li class="list-group-item container-cards hover" *ngFor="let anime of animes; let i = index" [class.active]="i == currentIndex" (click)="setActiveAnime(anime, i)">
                {{ anime.title }}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentAnime.id">
            <h4>Anime</h4>
            <div class="list-group-item container-cards">
                <div>
                    <label><strong>Titre:</strong></label> {{ currentAnime.title }}
                </div>
                <div>
                    <label><strong>Genre:</strong></label> {{ currentAnime.genre }}
                </div>
                <div>
                    <label><strong>Synopsis:</strong></label> {{ currentAnime.synopsis }}
                </div>
                <div>
                    <label><strong>Date du premier épisode:</strong></label> {{ currentAnime.aired }}
                </div>
                <div>
                    <label><strong>Date du dernier épisode:</strong></label> {{ currentAnime.ended }}
                </div>
                <div>
                    <label><strong>Évaluation:</strong></label> {{ currentAnime.rating }}
                </div>
                <a class="badge bg-warning text-dark" routerLink="/animes/{{ currentAnime.id }}">
          Modifier
        </a>
                <a class="badge bg-primary text-white ml-2" routerLink="/images/{{ currentAnime.id }}">
          Ajouter une image
        </a>
            </div>
        </div>

        <div *ngIf="!currentAnime">
            <br />
            <p>Veuillez cliquer sur un animes</p>
        </div>
    </div>
</div>
