<div id="page-wrapper">
    <section class="fiche panel panel-s4i">
        <div class="panel-body">
            <div class="panel-body">
                <div id="dle-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>{{currentAnime.title}}</h1>
                        </div>
                        <div class="row ml-auto mr-2">
                            <p>{{currentAnime.rating}}</p>
                            <i class="fas fa-star ml-2"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1">
                            <img src="https://snk-api.azurewebsites.net/files/{{currentAnime.fileDB.id}}" alt="{{currentAnime.title}}" style="width: 100%; max-width:500px;">
                        </div>
                        <div class="col-sm-6 fiche_info_div">
                            <p class="fiche_info_p">Genres : {{genre}}</p>
                            <p>Synopsis :</p>
                            <div class="synopsis">
                                <p>{{synopsis}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1 mt-3">
                            <a routerLink="/home/list-episodes/{{ anime_id }}">
                                <button class="btn btn-primary w-100">Voir tout les episodes</button>
                            </a>
                        </div>
                    </div>

                    <!-- COMMENT ADD-->
                    <div class="panel-body">
                        <div *ngIf="isLoggedIn">
                            <div>
                                <h3 class="pull-left mt-4 ">Ajouter un commentaire</h3>
                                <fieldset>
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                            <textarea class="form-control" id="message" placeholder="Votre message" required [(ngModel)]="comment.message"></textarea>
                                            <button class="btn btn-primary btn-sm mt-4" (click)="saveComment()">Envoyer</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div *ngIf="submitted">
                                <h4 class="alert alert-success ml-3" role="alert">Votre commentaire a bien été enregistrer</h4>
                            </div>
                        </div>
                    </div>
                    <!-- COMMENT ADD-->
                    <!-- COMMENT RETRIEVE-->
                    <div class="panel-body hred" *ngFor="let comment of comments">
                        <div class="row">
                            <p>Par <b>{{comment.username}}</b> le {{comment.post_date}}</p>
                        </div>
                        <p class="content-text">{{comment.message}}</p>
                    </div>
                    <!-- COMMENT RETRIEVE-->
                    <!-- COMMENT NOTLOG-->
                    <div *ngIf="!isLoggedIn">
                        <p>Vous devez être membre pour ajouter un commentaire, <a [routerLink]="['/register']">inscrivez-vous !</a>
                        </p>
                    </div>
                    <!-- COMMENT NOTLOG-->
                </div>
            </div>
        </div>
    </section>
</div>